 body{
            background-color: black;
            color: white;
        }

        li{
    font-size: 20px;
    color: red;
        }
    
        #html{
        color: orange;
        }
       
        #css{
        color: rgb(103, 103, 219);
        }

        #javascript{
        color: khaki
        }